body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: 
    #c9f3fa;
}

h1 {
    color: #008cff;
    justify-content: center;
    display: flex;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #000000;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #00e1ff;
    color: white;
}

a {
    color: #0026ff;
    text-decoration: none;
}

img{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    max-width: 100%;  
    height: auto;     
    border-radius: 10px;
}