<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Új termék</title>
</head>
<body>
    <h1>Új termék hozzáadása űrlap</h1>

        Név:<input type="text" name="name" value="nev"><br><br>
        Ár:<input type="number" name="prize" value="ar"> Ft<br><br>
        Kategória:<input type="tel" name="category" value="kategoria"><br><br>

    <a href="/add" type="button">Új termék hozzáadása</a>
</body>
</html>
