<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Új termék</title>
</head>
<body>
    <h1>Új termék hozzáadása űrlap</h1>
    <form action="/add" method="POST">
        <label for="name">Név:</label>
        <input type="text" name="name" id="name" placeholder="Termék neve" required><br><br>

        <label for="prize">Ár:</label>
        <input type="number" name="prize" id="prize" placeholder="Ár (Ft)" required><br><br>

        <label for="category">Kategória:</label>
        <input type="text" name="category" id="category" placeholder="Kategória" required><br><br>

        <button type="submit">Új termék hozzáadása</button>
    </form>

    <br>
    <a href="/">Vissza a főoldalra</a>
</body>
</html>
