<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Főoldal</title>
</head>
<body>
    <h1>Termékek listája</h1>
    <img src="{{ url_for('static', filename='shop.jpg') }}" alt="Webshop" width="400px"><br><br>

    <table border="1">
        <thead>
            <tr>
                <th>Név</th>
                <th>Ár</th>
                <th>Kategória</th>
            </tr>
        </thead>
        <tbody>
            {% for product in adds %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.prize }} Ft</td>
                <td>{{ product.category }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br><br>
    <a href="/add" type="button">Új termék hozzáadása</a>
</body>
</html>
