<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Főoldal</title>
</head>
<body>
    <h1>Termékek listája</h1>
    <table>
        <thead>
            <tr>
                <th>Név</th>
                <th>Ár</th>
                <th>Kategória</th>
            </tr>
        </thead>
        <tbody>
            {% for adds in add %}
            <tr>
                <td>{{ adds.name }}</td>
                <td>{{ adds.prize }}</td>
                <td>{{ adds.category }}</td>
            </tr>
            {% endfor %}<br><br>
        </tbody>
    </table>

    <a href="/index" type="button">Új termék hozzáadása</a>

</body>
</html>
